<!DOCTYPE html>
<html lang="en">
<head>
    <link href="dice-app/resources/css/dice-app.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="dice-app/resources/images/die6.jpg" type="image/jpg">
    <script src="https://unpkg.com/vue"></script>
    <title>Dice App</title>
    <meta name="description" content="Throw some dice and stuff">
    <meta property="og:image" content="https://niklasbjor.github.io/resources/images/dice_preview.jpg">
</head>
<body>
<div class="nav-bar"></div>
<div id="app" class="roller">
    <div id="attacker" class="involved-party">
        <div>
            <img src="dice-app/resources/images/archer_silhouette.jpg" class="figurine-image" alt="attack">
        </div>
        <div class="column input-group">
            <div class="dice-input">
                <label>
                    <input class="number-input" v-model="numAttDice" type="number" min="1" max="3" readonly>
                </label>
                <div class="column">
                    <button id="attIncrementBtn" class="operator" @click="incrementNumAttDice"
                            :disabled="numAttDice >=3">+
                    </button>
                    <button id="attDecrementBtn" class="operator" @click="decrementNumAttDice"
                            :disabled="numAttDice <= 1">-
                    </button>
                </div>
            </div>
            <div class="modifier">
                <div class="modifier-sub">
                    <label for="attLeaderInput"></label>
                    <input id="attLeaderInput" v-model="hasAttLeader" type="checkbox">
                    <img class="tiny-image" src="dice-app/resources/images/leader_100.png" alt="leader"
                         @click="toggleAttLeader">
                </div>
            </div>
        </div>
        <div class="result-group">
            <div class="result-display result-display--attacker">
                <div v-for="attResult in attResults"
                     class="display-number"
                     :style="{ backgroundColor: attResult.color}">
                    {{ attResult.value }}
                    <div v-if="attResult.modifier > 0"
                         class="modifier-display">
                        +
                    </div>
                </div>
            </div>
            <div>
                <p class="result-text result-text--right-aligned" v-if="attLosses != null">
                    Lose {{ attLosses }}
                </p>
            </div>
        </div>
    </div>
    <div id="divider" class="divider"></div>
    <div id="defender" class="involved-party">
        <div>
            <img src="dice-app/resources/images/shield_silhouette.jpg" class="figurine-image" alt="defense">
        </div>
        <div class="column input-group">
            <div class="dice-input">
                <label>
                    <input class="number-input" v-model="numDefDice" type="number" min="1" max="2" readonly>
                </label>
                <div class="column">
                    <button id="defIncrementBtn" class="operator" @click="incrementNumDefDice"
                            :disabled="numDefDice >= 2">+
                    </button>
                    <button id="defDecrementBtn" class="operator" @click="decrementNumDefDice"
                            :disabled="numDefDice <= 1">-
                    </button>
                </div>
            </div>
            <div class="modifier">
                <div class="modifier-sub">
                    <label for="defLeaderInput"></label>
                    <input id="defLeaderInput" v-model="hasDefLeader" type="checkbox">
                    <img class="tiny-image" src="dice-app/resources/images/leader_100.png" alt="leader"
                         @click="toggleDefLeader">
                </div>
                <div class="modifier-sub">
                    <label for="defFortressInput"></label>
                    <input id="defFortressInput" v-model="hasDefFortress" type="checkbox">
                    <img class="tiny-image" src="dice-app/resources/images/fortress_100.png" alt="fortress"
                         @click="toggleDefFortress">
                </div>
            </div>
        </div>
        <div class="result-group">
            <div class="result-display result-display--defender">
                <div v-for="defResult in defResults"
                     class="display-number"
                     :style="{ backgroundColor: defResult.color}">
                    {{ defResult.value }}
                    <div v-if="defResult.modifier > 0"
                         class="modifier-display">
                        +
                    </div>
                    <div v-if="defResult.modifier > 1"
                         class="modifier-display">
                        +
                    </div>
                </div>
            </div>
            <div>
                <p class="result-text" v-if="defLosses != null">
                    Lose {{ defLosses }}
                </p>
            </div>
        </div>
    </div>
    <div>
        <button class="roll-button" @click="rollDice">Roll</button>
    </div>
</div>

<script src="dice-app/dice-app.js"></script>
</body>
</html>