<!DOCTYPE html>
<html lang="en">
<head>
    <link href="./resources/css/index.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="resources/die6.jpg" type="image/jpg">
    <script src="https://unpkg.com/vue"></script>
    <title>Dice App</title>
</head>
<body>
<div class="nav-bar"></div>
<div id="app">
    <div class="roller">
        <div class="roller-line">
            <div>
                <img src="resources/sword.jpg" alt="attack" height="80px" width="80px">
            </div>
            <label>
                <input type="number" min="1" max="3" value="3">
            </label>
            <div>
                <p class="resultDisplay">
                    {{ att1 }}
                    {{ att2 }}
                    {{ att3 }}
                </p>
            </div>
            <div>
                <p class="resultDisplay" v-if="attLosses != null">
                    Attacker loses {{ attLosses}}
                </p>
            </div>
        </div>
        <div class="roller-line">
            <div>
                <img src="resources/shield.jpg" alt="defense" height="80px" width="80px">
            </div>
            <label>
                <input type="number" min="1" max="2" value="2">
            </label>
            <div>
                <p class="resultDisplay">
                    {{ def1 }}
                    {{ def2 }}
                </p>
            </div>
            <div>
                <p class="resultDisplay" v-if="defLosses != null">
                    Defender loses {{ defLosses}}
                </p>
            </div>
        </div>
        <div>
            <button v-on:click="rollAtt3Def2">Roll all</button>
        </div>
    </div>

    <script src="main.js"></script>
</div>
</body>
</html>