* {
    font-family: Helvetica, Arial, sans-serif;
}


h1 {
    color: #4b0fcf;
}


p,
li {
    font-size: 14px;
}


a {
    text-decoration: none;
}

img {
    margin: 20px;
}

input {
    font-size: 40px;
    padding: 10px 10px;
}

#app {
    display: flex;
}

button {
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    background-color: #8311c4;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 18px;
}

.nav-bar {
    background: linear-gradient(-90deg, #4b0fcf, #c014ba);
    height: 60px;
    margin-bottom: 15px;
}


.roller {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-content: space-around;
}

.roller-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resultDisplay {
    font-size: 32px;
    color: #585858;
    margin: 30px;
}