* {
    font-family: Helvetica, Arial, sans-serif;
}

body, html {
    height: 100%;
}

body {
    background: repeating-linear-gradient(
            45deg,
            #ffd300,
            #ffd300 20px,
            #fffacd 20px,
            #fffacd 30px
    );
}

h1 {
    margin-right: 20px;
    font-size: 80px;
    color: #313131;
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    box-shadow: 14px 14px 7px 0 rgba(0, 0, 0, 0.7);
    background: linear-gradient(20deg, #ff4700, #ff9304);
    color: #313131;
    width: 100%;
    font-size: 6vh;
    flex-grow: 1;
}

button:active {
    box-shadow: inset 8px 8px 7px 0 rgba(0, 0, 0, 0.7);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
}

.nav-bar {
    background: linear-gradient(20deg, #ff4700, #ff9304);
    height: 5%;
    margin-bottom: 15px;
}

.header-line {
    display: flex;
    align-items: center;
}

.filler {
    height: 100px;
}