input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:hover {
    background-color: #c014ba;
}

button:hover[disabled] {
    background-color: #dddddd;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-size: 28px;
}

input {
    padding: 10px 10px;
    border-width: 0;
    background-color: rgba(131, 17, 196, 0.15);
}

button {
    border: none;
    background-color: #8311c4;
    color: white;
}

input[type=checkbox] {
    -ms-transform: scale(2.5); /* IE */
    -moz-transform: scale(2.5); /* FF */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    -o-transform: scale(2.5); /* Opera */
    transform: scale(2.5);
    margin: 2vh;
}

:disabled {
    background-color: #dddddd;
}

.figurine-image {
    max-height: 20vh;
    max-width: 20vw;
}

.divider {
    width: 1px;
    background-color: black;
}

.roller {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.involved-party {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* input */
.input-group {
    height: 30vh;
}

.dice-input {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.number-input {
    font-size: 5vh;
    width: 4vh;
    -moz-appearance: textfield;
    text-align: center;
    margin-right: 20px;
}

.modifier {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* results */
.result-group {
    height: 40vh;
}

.result-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    color: #585858;
}

.result-display--attacker {
    margin-left: 50px;
}

.result-display--defender {
    margin-right: 50px;
}

.display-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    height: 8vh;
    width: 8vh;
    color: #585858;
    padding: 5px;
    margin: 5px;
}

.result-text {
    height: 10vh;
    font-size: 4vh;
    color: #585858;
}

.result-text--right-aligned {
    text-align: right;
}

.modifier-display {
    font-size: 3vh;
    margin: 0 0 4vh 0.3vh;
}

.modifier-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modifier-image {
    max-height: 7vh;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.operator {
    width: 6vh;
    height: 6vh;
    max-height: 8vh;
    max-width: 8vh;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 5vh;
}

.roll-button {
    height: 7vh;
    width: 14vh;
    font-size: 6vh;
    margin: 33vh 0 0 5vw;
}