input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:hover{
    background-color: #c014ba;
}

button:hover[disabled]{
    background-color: #dddddd;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-size: 28px;
}

input {
    font-size: 40px;
    padding: 10px 10px;
}

button {
    border: none;
    background-color: #8311c4;
    color: white;
}

:disabled {
    background-color: #dddddd;
}

.nav-bar {
    background: #8311c4;
    height: 30px;
    margin-bottom: 15px;
}

.figurine-image {
    max-height: 30vh;
    max-width: 30vw;
}

.divider {
    width: 1px;
    background-color: black;
}

.roller {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.involved-party {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* input */
.input-group {
    height: 20vh;
}

.dice-input {
    display: flex;
    align-items: center;
}

.number-input {
    width: 30px;
    -moz-appearance: textfield;
    text-align: center;
}

.modifier {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* results */
.result-group {
    height: 40vh;
}

.result-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 240px;
    font-size: 32px;
    color: #585858;
}

.result-display--attacker {
    margin-left: 50px;
}

.result-display--defender {
    margin-right: 50px;
}

.display-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 42px;
    width: 55px;
    color: #585858;
    padding: 5px;
    margin: 5px;
}

.result-text {
    font-size: 32px;
    color: #585858;
}

.result-text--right-aligned {
    text-align: right;
}

.modifier-display {
    font-size: 20px;
    margin-left: 4px;
}

.modifier-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tiny-image {
    margin: 4px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operator {
    width: 40px;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 28px;
}

.roll-button {
    height: 40px;
    width: 100px;
    font-size: 18px;
    margin-top: 33vh;
}