input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:hover {
    background-color: #c014ba;
}

button:hover[disabled] {
    background-color: #dddddd;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-size: 28px;
}

input {
    font-size: 80px;
    padding: 10px 10px;
    border-width: 0;
    background-color: rgba(131, 17, 196, 0.15);
}

button {
    border: none;
    background-color: #8311c4;
    color: white;
}

input[type=checkbox] {
    height: 40px;
    width: 40px;
}

:disabled {
    background-color: #dddddd;
}

.nav-bar {
    background: #8311c4;
    height: 30px;
    margin-bottom: 15px;
}

.figurine-image {
    max-height: 20vh;
    max-width: 20vw;
}

.divider {
    width: 1px;
    background-color: black;
}

.roller {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.involved-party {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* input */
.input-group {
    height: 20vh;
}

.dice-input {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.number-input {
    width: 50px;
    -moz-appearance: textfield;
    text-align: center;
    margin-right: 20px;
}

.modifier {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* results */
.result-group {
    height: 40vh;
}

.result-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;
    color: #585858;
}

.result-display--attacker {
    margin-left: 50px;
}

.result-display--defender {
    margin-right: 50px;
}

.display-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    height: 7vh;
    width: 7vh;
    color: #585858;
    padding: 5px;
    margin: 5px;
}

.result-text {
    font-size: 60px;
    color: #585858;
}

.result-text--right-aligned {
    text-align: right;
}

.modifier-display {
    font-size: 45px;
    margin: 0 0 40px 4px;
}

.modifier-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tiny-image {
    margin: 4px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operator {
    width: 100px;
    height: 100px;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 70px;
}

.roll-button {
    height: 100px;
    width: 220px;
    font-size: 80px;
    margin: 33vh 0 0 5vw;
}