input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:hover{
    background-color: #c014ba;
}

button:hover[disabled]{
    background-color: #dddddd;
}

#app {
    display: flex;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: #4b0fcf;
}

p,
li {
    font-size: 28px;
}

a {
    text-decoration: none;
}

img {
    margin: 10px;
}

input {
    font-size: 40px;
    padding: 10px 10px;
}

button {
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    background-color: #8311c4;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 18px;
}

:disabled {
    background-color: #dddddd;
}

.nav-bar {
    background: #8311c4;
    height: 60px;
    margin-bottom: 15px;
}


.roller {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-content: space-around;
}

.roller-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result-display {
    display: flex;
    font-size: 32px;
    color: #585858;
    margin-left: 30px;
    margin-right: 30px;
    width: 250px;
}

.display-number {
    display: flex;
    font-size: 42px;
    width: 55px;
    color: #585858;
    padding: 5px;
    margin: 10px;
}

.result-text {
    font-size: 32px;
    color: #585858;
    margin: 30px;
    text-align: right;
}

.modifier {
    display: flex;
    flex-direction: column;
    width: 90px;
    margin: 20px;
}

.modifier-display {
    font-size: 20px;
    margin-left: 4px;
}

.modifier-sub {
    display: flex;
    align-items: center;
}

.tiny-image {
    margin: 4px;
}

.column {
    display: flex;
    flex-direction: column;
}

.operator {
    width: 40px;
    border: 1px white;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 28px;
}