* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#app {
    display: flex;
    flex-direction: column;
    background-color: #E5E5EE;
    min-height: 100vh;
}

.results {
    display: flex;
    flex-direction: column;
}

.results-row {
    display: flex;
    justify-content: center;
}

.dice-result {
    min-height: 15vh;
    min-width: 15vh;
    margin: 2vh;
}

.dice-result--number {
    font-size: 12vh;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
}

.roll-button {
    min-height: 10vh;
    min-width: 30vh;
    font-size: 8vh;
    background-color: black;
    color: white;
    margin-top: 10vh;
}

.bg-red {
    background-color: #e60045;
    color: #e60045;
}

.bg-orange {
    background-color: #f87a00;
    color: #f87a00;
}

.bg-yellow {
    background-color: #fdcd00;
    color: #fdcd00;
}

.bg-green {
    background-color: #95bf22;
    color: #95bf22;
}

.bg-blue {
    background-color: #5ec4f7;
    color: #5ec4f7;
}

.bg-black {
    background-color: black;
    color: black;
}

